S01/myfile.txt
S01/test.csv
S02/ Week 3.pdf
S04/bpe.model
S04/bpe.vocab
S04/cantares_gallegos.txt
S04/corpus.txt
S04/meditations.txt
S04/shakes.txt
bashrc
S010/best_deberta_ner_model.pt
S010/best_bert_large_ner_model.pt
S010/bert_model_original_backup.pt
S010/best_focused_bert_model.pt